---
import Steam from "@/icons/Steam.astro";
import { Image } from "astro:assets";
import equipo from "../assets/images/equipo.webp";
import diseno from "../assets/images/Imagen diseño-100.webp";
import videojuegos from "../assets/images/Videojuegos-100.webp";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="about">
  <div class="flex w-full flex-col gap-8">
    <h2 class="text-center text-2xl font-semibold sm:ml-40 sm:text-left">About me</h2>
    <div class="flex w-full flex-col items-center gap-8">
      <p class="max-w-4xl text-pretty">
        <span class="text-xl font-bold">Allow me to introduce myself:</span>
        I am Diego Cobo, a 24-year-old passionate about design, editing, and animation. I fully dedicate my free
        time to exploring and honing these skills while playing videogames and discovering new songs
      </p>
      <div class="container columns-2 px-56">
        <Image class="mb-5 h-auto w-full rounded-lg" src={equipo} alt="" />
        <a
          href="https://steamcommunity.com/profiles/76561198138228193/"
          target="_blank"
          aria-label="steam profile"
          class="mb-5 flex size-full cursor-pointer items-center justify-center rounded-md border border-black border-transparent bg-[#1b2838]"
        >
          <Steam />
        </a>
        <Image class="mb-5 h-auto w-full rounded-lg" src={videojuegos} alt="" />
        <Image class="mb-5 h-auto w-full rounded-lg" src={diseno} alt="" />
      </div>
    </div>
  </div>
</SectionContainer>
