---
import { cn } from "@/lib/utils";
import type { ProjectImage } from "@/types/projectImages.type";
import { Image } from "astro:assets";

interface Props {
  images: ProjectImage[];
  class?: string;
}

const { images, class: className } = Astro.props;
---

<div class={cn("container px-5 md:columns-3 xl:columns-5 xl:px-0", className)}>
  {
    images.map((image, index) => (
      <Image class="mb-5 h-auto w-full rounded-lg" src={image.src} alt={image.alt} />
    ))
  }
</div>
