---
import type { ProjectImage } from "@/types/projectImages.type";

interface Props {
  images: ProjectImage[];
}

const { images } = Astro.props;
---

<div class="container px-5 md:columns-3 xl:columns-5 xl:px-0">
  {
    images.map((image, index) => (
      <a href={`/details?image=${image.src}}&`}>
        <img
          class="mb-5 h-auto w-full rounded-lg"
          src={image.src}
          alt={image.alt}
          transition:name={image.src}
        />
      </a>
    ))
  }
</div>
