---
import ProjectTabs from "./react/ProjectsTabs";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="projects">
  <div class="relative flex flex-col overflow-hidden">
    <h2 class="text-center text-2xl font-semibold sm:ml-32 sm:text-left">Projects</h2>
    <div class="relative flex w-full items-center">
      <div class="w-full overflow-hidden py-8 sm:p-8">
        <!-- <ProjectsShowcase client:only /> -->
        <ProjectTabs client:visible />
      </div>
    </div>
  </div>
</SectionContainer>
